:root {
  --color1: #933470;
  --color2: #c94b9b;
  --color3: #e282bf;
  --color4: #daa6b1;
  --basecolor: #e9dcdc;
  --font1: "Reenie Beanie", cursive;
}

body {
  background-color: var(--basecolor);
}
h1 {
  font-family: var(--font1);
  text-shadow: 4px 4px 5px rgb(142, 142, 142);
}

/* HEADER */

.navbar-brand {
  font-family: var(--font1);
  font-size: 3rem;
  text-shadow: 4px 4px 5px rgb(142, 142, 142);
}

.navbar {
  background-color: var(--color4);
}

/* MAIN */

.carousel {
  box-shadow: 4px 4px 5px rgb(142, 142, 142);
}

.carousel-item {
  max-height: 80vh;
}

.card {
  max-width: 25%;
  flex: 1;
  margin-top: 5%;
  height: 90%;
  box-shadow: 4px 4px 5px rgb(142, 142, 142);
}

.card-text {
  text-align: center;
}

.inrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.jumbotron {
  background-color: transparent;
  max-width: 100%;
  flex: 1;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

.left {
  text-align: left;
}

/* CONTACT */

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

/* PRIVACY */

.dropbtn

/* FOOTER */

footer {
  font-size: 1.5rem;
}

footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

footer .crafted {
  font-family: var(--font1);
  font-size: 1.5rem;
}

.crafted a {
  color: black;
}

.impressum ul {
  margin-left: 3.3rem;
  font-size: small;
  list-style: none;
}

/* MEDIA */

@media screen and (max-width: 414px) {
  body {
    min-width: 50%;
    max-width: 100%;
  }
  /* MEDIA HEADER */

  .navbar {
    max-width: 100%;
  }

  .navbar-toggler {
    margin-right: 1.8rem;
  }

  /* MAIN */

  .inrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card {
    min-width: 80%;
  }

  /* CONTACT */

  iframe {
    width: 60%;
  }

  /* TERMS */

  .privacy {
    width: 80%;
  }
}
